<h1>About Us</h1>

<p align="justify"> The Laboratories University Network of seismic engineering (ReLUIS), founded with conventional act
signed on 17th of April of 2003, is a interuniversity consortium with the purpose to coordinate the University
Laboratories activity of seismic engineering, giving scientific, organizational, technical and financial
  supports to associated University and promoting their participation to scientific and technological orientated activities
  in seismic engineering area, accordant with national and international research plans in this area. </p>

<p align="justify"> Coordination action promotes the partnerships between University, Private University, interuniversity centres
  (henceforth indicated with the term “University”) between them and with other research institutes and industries
  and promotes the development of seismic engineering laboratories according this statute, with activity of knowledge
  generation and circulation. </p>

<p align="justify"> The consortium is a scientific interlocutor of different governmental, regional, provincial and council agencies and
  of public and private institutes to get tangible objectives concerning vulnerability and risk evaluation and
  reduction. </p>
<p align="justify"> All the scholars belonging to the associated consortium structures, at the moment of acknowledgment to the
  consortium or belonging to foundation for founder members, that take care of problems concerning seismic
  engineering, can associate and participate in Consortium activity, cooperating in interdisciplinary way. </p>

<p align="justify"> The consortium has the main office in Naples, c.o. Dipartimento di Analisi e Progettazione Strutturale,
  University of Naples “Federico II”. The consortium is a nonprofit organization. </p>

<li>   <%= link_to "UNITN", "http://www.unitn.it", :target => "_blank" %> </li>

<li> <%= link_to "UNIPV", "http://www.unipv.eu", :target => "_blank" %> </li>

<li> <%= link_to "UNINA", "http://www.unina.it", :target => "_blank" %> </li>