<!--<h4>BENVENUTI NEL SITO DEL CONSORZIO DELLA RETE DEI LABORATORI UNIVERSITARI DI INGEGNERIA SISMICA</h4> -->
<h4>WELCOME TO THE LABORATORIES UNIVERSITY NETWORK OF SEISMIC ENGINEERING (ReLUIS)</h4>
<p align="justify">The Laboratories University Network of seismic engineering (ReLUIS), founded with
  conventional act signed on 17th of April of 2003, is a interuniversity consortium with the purpose
  to coordinate the University Laboratories activity of seismic engineering, giving scientific,
  organizational, technical and financial supports to associated University and promoting their
  participation to scientific and technological orientated activities in seismic engineering area,
  accordant with national and international research plans in this area.
</p>

<p align="justify">La Rete dei Laboratori Universitari di Ingegneria Sismica (ReLUIS), costituita con
  atto convenzionale sottoscritto il 17 aprile 2003, è un consorzio interuniversitario
  che ha lo scopo di coordinare l'attività dei Laboratori Universitari di Ingegneria Sismica,
  fornendo supporti scientifici, organizzativi, tecnici e finanziari alle Università consorziate
  e promovendo la loro partecipazione alle attività scientifiche e di indirizzo tecnologico
  nel campo dell'Ingegneria Sismica, in accordo con i programmi di ricerca nazionali ed
  internazionali in questo settore.</p>

